        <h4>会員一覧</h4>
    </div>
      <table class="detail-owner_members ">
        <tbody>
          <tr>
            <th class="detail-owner_members ">ID</th>
            <th class="detail-owner_members ">会社名</th>
            <th class="detail-owner_members ">メールアドレス</th>
            <th class="detail-owner_members ">パスワード</th>
            <th class="detail-owner_members ">郵便番号 </th>
            <th class="detail-owner_members ">都道府県 </th>
            <th class="detail-owner_members ">市区町村以下全て</th>
            <th class="detail-owner_members ">電話番号 </th>
          </tr>
          <tr>
           <%# <% @items.each do |users| %> 
            <th class="detail-owner_members ">ID</th>
            <th class="detail-owner_members ">会社名</th>
            <th class="detail-owner_members ">メールアドレス</th>
            <th class="detail-owner_members ">パスワード</th>
            <th class="detail-owner_members ">郵便番号 </th>
            <th class="detail-owner_members ">都道府県 </th>
            <th class="detail-owner_members ">市区町村以下全て</th>
            <th class="detail-owner_members ">電話番号 </th>
            <%# <% end %> 
          </tr>
        </tbody>
      </table>
    <%=link_to 'もどる', root_path, class:"back-btn3" %>
  </div>
</div>