/* リセットCSS */
body {
  font-family: serif;
  font-size: 14px;
  color: black;
  margin: 0 auto;
  background-image: url(b001.gif);
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}


/* image */
.top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 7%;
  margin: 0 1%;
}

.top_title {
  font-size: 230%;
  margin-top: 3%;
  margin-bottom: 1.5%;
}

.top_image {
  height: 200px;
  width: 300px;
  margin-bottom: 7%;
}

/* container */
.container h1 {
  border-bottom: 2px solid gray;
  margin: 0 10% 2.5%;
  font-size: 200%;
}

.preferences a {
  font-size: 160%;
  margin-bottom: 5%;
  display: inline-block;
  white-space: nowrap;
}

.products {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  height: 250px;
}

.product {
  position: relative;
  width: 28%;
  height: 100%;
}

.product_image {
  height: 180px;
  width: 250px;
  margin-bottom: 1%;
  cursor: pointer;
}

.popular_image {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 3%;
  left: 3%;
}

.product_detail {
  margin-left: 5%;
  margin-right: 5%;
  margin: 2% 0;
  font-weight: bold;
  font-size: 100%;
}

.product_detail li {
  list-style: none;
  white-space: nowrap;
}

.price {
  color: red;
  font-size: 120%;
}

.button {
  background-color: rgb(71, 69, 69);
  cursor: pointer;
  border-bottom: 5px solid black;
  font-family: serif;
  margin-bottom: 5%;
  display: inline-block;
  width: 10%;
  border-radius: 30px;
}

.button a {
  text-decoration: none;
  color: white;
  padding: 15% 5%;
}

.button:hover {
  margin-top: 3px;
  color: white;
  background: gray;
  border-bottom: 2px solid gray;
}

/* ご返金・ご返品 */
.refund {
  float: center;
}

.refund h1 {
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 200%;
  margin: 0 10% 2.5%;
}

.explain  {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 80%;
}

.explain .text {
  text-align: left;
  display: inline-block;
  margin-bottom: 5%;
}

.text p {
  font-size: 120%;
  white-space: nowrap;
}

/* カレンダー */
.calender, .shipping-rule {
  text-align: center;
}

.calender h1 {
  text-align: center;
  border-bottom: 2px solid black;
  margin: 0 10% 2.5%;
  font-size: 200%;
}

.calender a, .shipping-rule a {
  font-size: 120%;
  white-space: nowrap;
  display: inline-block;
  margin: 0 auto;
  display: block;

}

.calender span {
  color: #FF6666;
}

.calender p {
  margin-bottom: 2%;
  font-size: 100%;
}

.container2 {
  margin: 2% 0 2%;
  display: flex;
  justify-content: center;
}

table {
  margin-right: 3%;
  margin-left: 3%;
}

.shipping-rule {
  margin-bottom: 5%;
}

