/*ここからheader*/
header {
  display: flex;
  align-items: center;
}

.heading {
  width: 70%;
  margin-left: 4%;
  text-decoration: none;
}



/* title */
.title {
  width: 8%;
  margin: 1% 0;
}

.title2 {
  width: 30%;
  margin: 1%;
}

/* 会員登録とカート */
.nav {
  width: 50%;
}

.navigation {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.details {
  font-size: 120%;
}

.owner, .user_name, .nav__logout {
  font-size: 120%;
  color: brown;
  text-decoration: none;
}

.fas {
  color: brown;
}

/* ここからcontents */
.contents {
  text-align: center;
  margin-bottom: 6%;
}

/* 詳細画面 */
.head_content {
  background-color: black;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 1.5% 0; 
  list-style: none;
}

.menu li {
  font-size: 140%;
}

.detail, .detail2, .detail3 {
  text-decoration: none;
  color: white;
  font-size: 140%;
  position: relative;
}

.show-lists li, .show-lists2, .show-lists3 {
  list-style: none;
  border: 1px solid black;
}

.show-lists, .show-lists2, .show-lists3 {
  display: block;
  background-color: black;
  opacity: 0.9;
  width: 8%;
  padding: 1% 1%;
  font-size: 120%;
}

.show-lists {
  position: absolute;
  left: 7.5%;
  top: 123px;
}
.show-lists2 {
  position: absolute;
  left: 25%;
  top: 123px;
}

.show-lists3 {
  position: absolute;
  left: 43.5%;
  top: 123px;
}


.nav_list {
  /* text-decoration: none; */
  color: white;
}

.hidden{
  display: none;
}
