/*ここからheader*/
header {
  display: flex;
  align-items: center;
}

.heading {
  width: 70%;
  margin-left: 4%;
  text-decoration: none;
}



/* title */
.title {
  width: 8%;
  margin: 1% 0;
}

.title2 {
  width: 30%;
  margin: 1%;
}

/* 会員登録とカート */
.nav {
  width: 50%;
}

.navigation {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.details {
  font-size: 120%;
}

.owner, .user_name, .nav__logout {
  font-size: 120%;
  color: brown;
  text-decoration: none;
}

.fas {
  color: brown;
}

/* ここからcontents */
.contents {
  text-align: center;
  margin-bottom: 6%;
}

/* 詳細画面 */
.head_content {
  background-color: black;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 1% 0; 
  list-style: none;
}

.detail {
  text-decoration: none;
  color: white;
  font-size: 140%;
}

.show-lists li {
  list-style: none;
  border: 1px solid black;
}

.show-lists {
  background-color: white;
  width: 100px;
  position: absolute;
  right: 15%;
  top: 70px;
  color: black;
  font-size: 25px;
}

.hidden{
  display: none;
}
